@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root{
    --primary-color:#276678;
    --border-radius: 5px:
}

html{
    box-sizing: border-box;
}

body{
    font-family: "Patrick Hand", sans-serif;
    margin: 0;
    background-color: #276678;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.16' fill-rule='evenodd'/%3E%3C/svg%3E");    
}
h1{
    color: #f6f5f5;
    text-align: center;
    padding: 15px;
    background: rgba(0,0,0, 0.5);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    margin: 20px auto 10px;
    user-select: none;
}

h1:hover{
    background: rgba(0,0,0, 0.8);
}

/* bookmarks */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    background: rgba(0,0,0, 0.5);
    color:#f6f5f5 ;
    border-radius: var(--border-radius);
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.item:hover{
    background: rgba(0,0,0, 0.6);

}

a{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

a:link,
a:visited{
    color:#f6f5f5;
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: underline;
}

.fa-times{
    float: right;
    cursor: pointer;
    z-index: 2;
}

.name{
    margin-top: 20px;
    margin-right: 20px;
}

.name img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    vertical-align: sub;
}

/* modal styling */

.modal-container{
    background: rgba(0,0,0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.show-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0, 0.8);
    max-width: 95%;
    width: 500px;
    animation: modalopen 1s;
}

@keyframes modalopen{
    from{
            opacity: 0;
    }

    to{
            opacity: 1;
    }
}

.close-icon {
    float: right;
    color: white;
    font-size: 24px;
    position: relative;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.modal-header{
    background: var(--primary-color);
    color: white;
    padding: 15px;
}

h3{
    margin: 0 ;
}

.modal-content{
    padding: 20px;
    background: whitesmoke;
}

/* form */

.form-group{
    height:55px;

}

.form-input{
    width: 97%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    display: block;
    outline: none;
}

.form-label{
    color: var(--primary-color);
    display: block;
}

button{
    cursor: pointer;
    color: white;
    background: var(--primary-color);
    height: 30px;
    width: 100px;
    border: none;
    border-radius: var(--border-radius);
    margin-top: 10px;
}
button:hover{
    filter: brightness(110%);
}

button:focus{
    outline: none;
}

/* media query */

@media screen and (max-width:600px){
    .container{
        flex-direction: column;
    }
    
}